:root {
    --neonBlue_1: #00AEEf;
    --neonBlue_2: #00B3DF;
    --neonBlue_3: #0089B9;
    --red: #DA5555;
    --orange1: #F54337;
    --orange2: #FF7143;
    --yellow: #FFDE2E;
    --green: #2BA968;
    --grey1: #f7f7f7;
    --grey2: #e7e7e7;
    --grey3: #a7a7a7;
    --black: #141414;
}

@font-face {
    font-family: Fashion-logo;
    src: url(../fonts/THE\ Fashions.otf);
}

@font-face {
    font-family: Fashion-body;
    src: url(../fonts/fashl954.ttf);
}

@font-face {
    font-family: spaceboy;
    src: url(../fonts/SPACEBOY.TTF);
}

@font-face {
    font-family: Fashion-body2;
    src: url(../fonts/fashr954.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Fashion-body;
    color: var(--black);
}

h1 {
    font-family: Fashion-body2;
    font-size: 2.5rem;
    line-height: 3rem;

}

h2 {
    font-family: Fashion-body2;
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

.text-muted {
    color: var(--grey3);
}

.navbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 5px 10px 0px rgb(32 33 36 / 28%);
    -moz-box-shadow: 0px 5px 10px 0px rgb(32 33 36 / 28%);
    box-shadow: 0px 5px 10px 0px rgb(32 33 36 / 28%);
    z-index: 1000;
    width: 95%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid rgb(223 225 229 0);
}

.navbar .icon {
    display: none;
    color: var(--neonBlue_1);
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 2rem;
}

.navbar ul {
    width: 50%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-link a {
    text-decoration: none;
    color: var(--neonBlue_2);
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem 1rem;
    display: block;
    transition: all .3s ease-in-out;
    font-family: Fashion-body2;
}

.nav-link a:hover {
    color: var(--neonBlue_3);
}

.navbar .logo h1.logo-text {
    margin: 0;
    font-family: Fashion-logo;
    color: var(--neonBlue_1);
}

.navbar .icons-bar {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.navbar .icons-bar>* {
    color: var(--grey3);
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.navbar .icons-bar .icon__notification {
    position: relative;
}

.navbar .icons-bar .notification {
    position: absolute;
    top: -7px;
    width: 1.4rem;
    text-align: center;
    font-size: .8rem;
    line-height: 1.3rem;
    border-radius: 50%;
    background: var(--neonBlue_1);
    color: #fff;
}

.search-box {
    background: var(--grey1);
    height: 30px;
    border-radius: 40px;
}

.search-box:hover {
    padding: 0px 10px 0px 10px;
}

/* placeholder color */
.search-text::-webkit-input-placeholder {
    color: var(--grey2);
}

.search-text::-moz-placeholder {
    color: var(--grey2);
}

.search-text:-ms-input-placeholder {
    color: var(--grey2);
}

.search-text::-ms-input-placeholder {
    color: var(--grey2);
}

.search-text::placeholder {
    color: var(--grey2);
}

.search-box:hover>.search-text {
    width: 180px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: var(--grey1);
    color: var(--neonBlue_2);
}

.search-btn {
    color: var(--grey1);
    background-color: var(--grey3);
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.search-btn>i {
    font-size: 16px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--grey3);
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}


.hero-content {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../img/pexels-monstera-6311693.jpg);
    position: relative;
    height: 91vh;
    width: 100%;
    background-size: cover;
    background-position: center 0;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-content .hero-text {
    position: absolute;
    left: 10%;
    min-height: 12rem;
    font-size: 4rem;
    color: #fff;
    font-family: Fashion-body2;
    font-weight: bolder;
}

.changing-text {
    position: absolute;
    opacity: 0;
}

section {
    margin-bottom: 3.5rem;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: fit-content;
    margin: 2rem auto;
    border: 1px solid var(--grey2);
}

.info-boxes .info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin: 1.2rem 0 1rem;
    padding: 1rem;
    padding-right: 1.5rem;
    border-left: 1px solid var(--grey2);
}

.info-boxes *:first-child {
    border: 0;
}

.info-boxes .info-box .info-box__icon {
    float: right;
    margin: 0 0.1em;
    margin-top: -2px;
    margin-right: 1rem;
    line-height: 0;
    font-size: 2.3rem;
    text-align: center;
}

.info-boxes .info-box .info-box__content * {
    margin: 0;
}

.info-boxes .info-box .info-box__content h1 {
    /* color: #00AEEf; */
    /* font-size: 1.4rem; */
    line-height: 1.1;
    font-weight: 1000;
    margin-bottom: 0;
}

.category {
    width: 95%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    cursor: pointer;
    position: relative;
}

.category__card {
    height: 400px;
}

.card .card__image {
    width: 100%;
    height: 100%;
}

.card .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card__overlay {
    display: block;
    background-color: #ffffff90;
    /* border-radius: 10px; */
    position: absolute;
    width: 80%;
    bottom: 2.5%;
    transform: translateY(-50%);
    left: 10%;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.card__overlay h2 {
    /* color: #fff; */
    color: var(--black);
}

.category__card .category__image {
    overflow: hidden;
}

.card__overlay .overlay__hidden {
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.card__overlay .overlay__hidden h3:hover {
    color: var(--neonBlue_3);
    opacity: 1;
}

.header h1 {
    font-family: Fashion-body2;
    /* font-size: 2.375rem; */
    margin-bottom: 1.5rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid var(--grey2);
}

.card.product {
    width: 22%;
    position: relative;
}

.card.product .product-image {
    position: relative;
    height: 300px;
    margin-bottom: .2rem;
}

.image__hidden-display {
    display: flex;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 0;
    height: 300px;
    width: 100%;
    justify-content: space-around;
}

.hidden-display__icon {
    --radius: 2.5rem;
    visibility: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: var(--radius);
    height: var(--radius);
    border-radius: 50%;
    color: var(--black);
    background-color: #fff;
}

.hidden-display__icon:hover {
    color: #fff;
    background-color: var(--neonBlue_1);
}

.product-image__second {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.product .product-content {
    margin: .5rem 0rem;
    text-align: center;
}

.product-content>* {
    margin: 0;
    /* margin-bottom: .5rem; */
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.product-content h3 {
    text-transform: capitalize;
}

.product-content h3:first-child:hover {
    color: var(--neonBlue_1);
}

.product-content .btn-cart {
    margin-top: .5rem;
    min-height: 2.188rem;
    width: 100%;
    font-family: Fashion-body2;
    font-size: clamp(1.2rem, 100%, 1.8rem);
    text-transform: uppercase;
    color: #fff;
    border-radius: 15px;
    background-color: var(--neonBlue_1);
    border: 0;
    transition: all 0.5 ease-in-out;
    cursor: pointer;
}

.product-content .btn-cart:hover {
    border: 3px solid var(--neonBlue_1);
    background-color: #fff;
    color: var(--neonBlue_1);
}

.overlay {
    position: absolute;
    z-index: 1000;
}

.label-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 6px;
    top: 6px;
}

.label {
    display: block;
    margin-bottom: 3px;
    padding: 2px 6px;
    line-height: 25px;
    color: #fff;
    text-transform: capitalize;
}

.label__new {
    background-color: var(--neonBlue_1);
}

.label__discount {
    background-color: var(--orange1);
}

.label__pre-order {
    background-color: var(--yellow);
    color: var(--black);
}

.label__hot {
    background-color: var(--orange2);
}

.blog {
    margin: 5rem auto;
    width: 90%;
}

.header__blog {
    margin-bottom: 1rem;
    padding-bottom: .4rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    line-height: 50px;
    border-bottom: 1px solid var(--grey2);
}

.header__blog h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}

.card__blog .blog__image {
    display: flex;
    justify-content: center;
    height: 500px;
}

.blog-overlay {
    visibility: hidden;
    display: flex;
    height: 100%;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.blog-overlay__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
}

.blog-overlay__header h3 {
    font-size: 1.2em;
}

.blog-overlay__date {
    border-right: 5px solid var(--black);
    width: 30%;
    font-weight: bolder;
    margin-right: 20px;
    color: var(--neonBlue_1);
    font-size: 1.2em;
}

footer {
    padding-top: 40px;
    background-color: var(--grey1);
}

.footer-col {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;
}

.footer-col>* {
    min-width: 50%;
    font-size: 1.2rem;
}

.footer-col h2 {
    color: var(--neonBlue_1);
    margin-bottom: .625rem;
}

.footer-col h2 i {
    color: var(--grey3);
    margin-right: 20px;
}

.right{
    display: flex;
    flex-direction: row;
}

.right input {
    height: 60px;
    width: 80%;
    background-color: var(--grey2);
    border: 0;
    padding: 20px;
}

.right button {
    height: 60px;
    padding: 20px;
    background-color: var(--neonBlue_1);
    color: #fff;
    border: 0;
    transition: all 0.2s;
    cursor: pointer;
}

.right button:hover {
    border: 3px solid var(--neonBlue_1);
    background-color: #fff;
    color: var(--neonBlue_1);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    font-size: 1.2rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.social-icon {
    text-align: center;
    color: var(--black);
    transition: color 0.2s;
}

.social-text {
    margin-right: 15px;
    text-align: right;
}

.social:hover .social-icon {
    color: var(--neonBlue_1);
}

.FAQs p {
    margin-bottom: .3125rem;
}

.helplines {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.helplines > * {
    min-width: 50%;
    display: flex;
}

.phone {
    flex-direction: column;    
}

.phone span {
    margin-bottom: 5px;
    cursor: pointer;
}

.phone span i {
    margin-right: 20px;
    transition: color 0.2s;
}

.phone span:hover i {
    color: var(--neonBlue_1)
}

.time {
    flex-direction: row;    
    justify-content: space-evenly;    
}

.time span {
    display: flex;
    flex-direction: column;
}

.time span span {
    margin-bottom: 5px;
}

.footer-col3 {
    margin-top: 1.5rem;
    border-top: 3px solid var(--grey3);
    padding: 20px;
    background-color: var(--neonBlue_1);
    font-size: 2rem;
    color: #fff;
    font-family: fashion-body2;
    text-align: center;
    Width: 100%;
}

.sign {
    font-family: fashion-logo;
    font-size: 1.25em;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#loader .dot {
    opacity: 1;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid var(--neonBlue_1);
}

@media (max-width: 426px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    .navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        top: 0px;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .navbar .logo {
        align-self: flex-start;
    }

    h1.logo-text {
        font-size: 2rem;
    }

    .navbar .icons-bar {
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar .icon {
        display: block;
    }

    .search-box {
        width: 100%;
        margin-right: 0 !important;
        padding: 0px 10px 0px 10px;
        height: 40px;
    }

    .search-text {
        width: 80%;
        padding: 0 6px;
        line-height: 40px;
    }

    .search-btn {
        background: var(--grey1);
        color: var(--grey3);
        height: 40px;
    }

    .navbar .navbar__smd {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    .info-boxes {
        flex-direction: column;
    }

    .info-boxes .info-box {
        width: 94%;
        justify-content: flex-start;
        border: 0;
        border-bottom: 1px solid var(--grey2);
    }

    .info-boxes .info-box:last-child {
        border: 0;
    }

    .cards {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 100%;
        height: 250px;
    }

    .card .card__image {
        width: 100%;
        height: 100%;
    }


    .card .card__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    .cards.products {
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .cards.products::-webkit-scrollbar {
        display: none;
    }

    .card.product {
        width: 46%;
        height: auto;
        flex-shrink: 0;
    }

    .heart-icon {
        --radius: 1.5rem;
        position: absolute;
        top: -20px;
        right: 5px;
        color: var(--neonBlue_1);
        background-color: #fff;
        font-size: 1rem;
        visibility: visible;
    }

    .card.product .product-image {
        height: 200px;
    }

    .blog-overlay {
        font-size: 1rem;
        visibility: visible;
    }

    .blog-overlay {
        visibility: visible;
    }

    footer {
        padding-top: 20px;
    }

    .footer-col, .socials {
        flex-direction: column;
    }

    .footer-col {
        gap: 20px;
        padding: 0px 20px;
    }

    .footer-col > * {
        min-width: 100%;
        font-size: 1rem;
    }

    .right input, .right button {
        height: 40px;
        padding: 10px;
    }

    .socials {
        font-size: 1rem;
    }

    .social {
        justify-content: unset;
    }
    
    .social .social-text {
        width: 30%;
        text-align: left;
    }

    .helplines {
        flex-direction: column;
    }

    .time {
        justify-content: unset;
    }

    .time i {
        margin-right: 15px;
    }

    .footer-col3 {
        font-size: 1rem;
    }

}